/Makefile
/Makefile.in
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/aclocal.m4
/install-sh
/libtool
/ltmain.sh
/missing
/protobuf-lite.pc
/protobuf.pc
/stamp-h1
